/* font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/* css reset */
* { margin: 0; padding: 0; box-sizing: border-box; }
*::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
ol, ul, li { list-style: none; }
a { text-decoration: none; color: inherit; cursor: pointer; }
html, body { font-size: 10px; background-color: #fff; }
img { display: block; width: 100%; }
:root {
    --table--spacing: 2rem; 
}
 
/* 공통 */
.content_area { width: 100%; margin-top: 21rem; }
.content { width: 100%; margin-bottom: 15rem; }
.inner { width: 60%; margin: 0 auto; }
.item_pic { width: 100%; border-radius: 15px; overflow: hidden; }
h2.content_title { font-size: 3rem; font-weight: 700; }
p.content_sub_title { font-size: 1.6rem; margin-top: 2rem; }

/* tab menu 공통 */
.tab_title { display: flex; justify-content: space-between; align-items: flex-end; }
.tab_menu li { position: relative; display: inline-block; margin-right: 3rem; font-size: 1.8rem; font-weight: 400; cursor: pointer; }
.tab_menu li::before { 
    content: ''; position: absolute; left: 50%; bottom: -10%; transform: translateX(-50%); 
    width: 0; height: 2px; background-color: #000; transition: all 0.4s; 
}
.tab_menu li:hover::before { width: 100%; }
.tab_menu li.on { font-weight: 700; }
.tab_menu li.on::before { width: 100%; }
.item_container { position: relative; width: 100%; margin-top: 5rem; }
.item_container ul.item_box { 
    position: absolute; left: 0; top: 0; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; 
    width: 100%; opacity: 0; transform: translateY(2%); transition: all 0.4s;
}
.item_container ul.item_box.on { position: static; opacity: 1; transform: translateY(0); }

/************* top_header */
/* header */
#top_header { width: 100%; transition: all 0.4s; }
#header { position: fixed; left: 50%; top: 0; transform: translateX(-50%); z-index: 10; width: 60%; height: 6rem; display: flex; justify-content: space-between; align-items: center; }
#logo { font: 400 4rem 'Dancing Script'; letter-spacing: 1px; }
#find_box { width: 50%; height: 60%; border: 0; padding-left: 1%; background-color: rgba(0, 0, 0, 0.1); color: rgba(0, 0, 0, 0.5); transition: all 0.4s; }
#find_box:focus { color: #000; }
#login { font-size: 1.8rem; }
#sign_up { font-size: 1.8rem; margin-left: 3rem; }

/* Nav */
#nav { position: fixed; left: 50%; top: 6rem; transform: translateX(-50%); width: 60%; height: 11rem; margin: 3rem 0 0; }
#nav table td { padding: 1rem 0; border-radius: 2rem; text-align: center; cursor: pointer; }
#nav table td img { width: 30%; margin: 0 auto; }
#nav table td p { margin-top: 1rem; font-size: 1.6rem; }

/* header action */
#top_header.fixed { position: fixed; left: 0; top: 0; z-index: 10; }
#top_header.fixed:hover { background-color: rgba(0, 0, 0, 0.5); color: #fff; }
#top_header.fixed:hover #find_box { background-color: rgba(255, 255, 255, 0.5); }
#top_header.fixed:hover #nav { opacity: 1; }
#top_header.fixed #header { position: static; transform: translateX(0); width: 100%; }
#top_header.fixed #nav { position: static; transform: translateX(0); width: 100%; margin-top: 3rem; opacity: 0; }
#nav table td:hover { background-color: rgba(0, 0, 0, 0.1); }


/************* Content area */
/* Banner */
#banner .swiper-container { position: relative; height: 45rem; overflow: hidden; }
#banner .swiper-slide { width: 100%; height: 100%; font-size: 5rem; font-weight: 700; text-align: center; }
#banner .swiper-slide[data-num="1"] { background-color: red; }
#banner .swiper-slide[data-num='2'] { background-color: orange; }
#banner .swiper-slide[data-num='3'] { background-color: yellow; }
#banner .swiper-slide[data-num='4'] { background-color: green; }
#banner .swiper-slide[data-num='5'] { background-color: blue; }
#banner .swiper-slide[data-num='6'] { background-color: purple; }
#banner .swiper-pagination-bullet-active { background-color: #fff; }

/* quick */
#quick { display: flex; justify-content: space-between; align-items: center; }
#quick table { width: 60%; border: 0; border-spacing: 2rem; }
#quick table tr td { width: calc(100% / 6); border-radius: 50px; background-color: lightseagreen; color: #fff; text-align: center; }
#quick table tr td a { display: block; width: 100%; height: 100%; padding: 0.7rem 0; font-size: 1.8rem;  }


/* best_item */
#best_item .item_container ul.item_box li.item_product { width: 21%; margin-bottom: 5rem; }
#best_item .item_container .item_pic { height: 20rem; }
#best_item .item_container .item_box:nth-child(1) .item_pic { background-color: lightsalmon; }
#best_item .item_container .item_box:nth-child(2) .item_pic { background-color: lightseagreen; }

#best_item .item_container .item_info { width: 100%; padding: 5%; }
#best_item .item_container .item_info h3.item_title { font-size: 1.8rem; cursor: pointer; }
#best_item .item_container .item_info h4.item_address { margin: 0.5rem 0 2rem; font-size: 1.2rem; font-weight: 400; opacity: 0.6; }
#best_item .item_container .item_info div.bottom_info { width: 100%; display: flex; justify-content: space-between; align-items: center; }
#best_item .item_container .item_info p.item_price { font-size: 1.6rem; }
#best_item .item_container .item_info p.item_attention { font-size: 1.2rem; opacity: 0.6; }

/* AppDown */
#appdown .item_pic { position: relative; height: 20rem; background-color: lightpink; }
#appdown .item_pic::before { content: 'App Download Banner'; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); font-size: 3rem; }


/* year_product */
#year_product table { width: 100%; height: 60rem; border-collapse: collapse; border: 0; }
#year_product table tr td { width: 70%; height: 50%; }
#year_product table tr td .item_pic { height: 100%; background-color: #808080; }
#year_product table tr:nth-child(1) td:nth-child(1) .item_pic { width: calc(100% - var(--table--spacing)); margin-right: var(--table--spacing); } 
#year_product table tr:nth-child(1) td:nth-child(2) .item_pic { height: calc(100% - var(--table--spacing)); margin-bottom: var(--table--spacing); } 


/* footer - section4 */
#footer { padding: 3rem 0; background-color: rgba(0, 0, 0, 0.8); color: #fff; }
#footer .footer_click { position: relative; }
#footer .footer_click a { padding: 0 3rem; font-size: 1.4rem; border-left: 1px dotted rgba(255, 255, 255, 0.2); }
#footer .footer_click a:first-child { padding-left: 0; border-left: none; }
#footer .footer_click a:hover { color: rgba(255, 255, 255, 0.5); }
#footer .making { position: absolute; right: 0; top: 50%; transform: translateY(-50%); font-size: 1.2rem; text-align: right; }


/* 반응형 */ 
@media screen and (max-width: 1280px) {
    
}

@media screen and (max-width: 980px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 640px) {
    
}