/* font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* css reset */
* { margin: 0; padding: 0; box-sizing: border-box; }
*::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
ol, ul, li { list-style: none; }
a { text-decoration: none; color: inherit; cursor: pointer; }
html, body { font-size: 10px; background-color: #fff; }
img { display: block; width: 100%; }
 
/* 공통 */
.content { margin-top: 5rem; }
.inner { width: 60%; margin: 0 auto; }

/************* top_header */
/* header */
#top_header { width: 100%; transition: all 0.4s; }
#header { position: fixed; left: 50%; top: 0; transform: translateX(-50%); width: 60%; height: 6rem; display: flex; justify-content: space-between; align-items: center; }
#logo { font: 400 4rem 'Dancing Script'; letter-spacing: 1px; }
#find_box { width: 50%; height: 60%; border: 0; padding-left: 1%; background-color: rgba(0, 0, 0, 0.1); color: rgba(0, 0, 0, 0.5); transition: all 0.4s; }
#find_box:focus { color: #000; }
#login { font-size: 1.8rem; }
#sign_up { font-size: 1.8rem; margin-left: 3rem; }

/* Nav */
#nav { width: 100%; margin-top: 9rem !important; }
#nav table td { padding: 1rem 0; border-radius: 2rem; text-align: center; cursor: pointer; }
#nav table td img { width: 35%; margin: 0 auto;  }
#nav table td p { margin-top: 1rem; font-size: 1.6rem; }

/* header action */
#top_header.fixed { position: fixed; left: 0; top: 0; z-index: 10; }
#top_header.fixed:hover { background-color: rgba(0, 0, 0, 0.5); color: #fff; }
#top_header.fixed:hover #find_box { background-color: rgba(255, 255, 255, 0.5); }
#top_header.fixed #header { position: static; transform: translateX(0); width: 100%; }
#top_header.fixed #nav { margin-top: 3rem !important; }
#nav table td:hover { background-color: rgba(0, 0, 0, 0.1); }


/************* Content area */
/* Banner */
#banner .swiper-container { position: relative; height: 55rem; overflow: hidden; }
#banner .swiper-slide { width: 100%; height: 100%; font-size: 5rem; font-weight: 700; text-align: center; }
#banner .swiper-slide[data-num="1"] { background-color: red; }
#banner .swiper-slide[data-num='2'] { background-color: orange; }
#banner .swiper-slide[data-num='3'] { background-color: yellow; }
#banner .swiper-slide[data-num='4'] { background-color: green; }
#banner .swiper-slide[data-num='5'] { background-color: blue; }
#banner .swiper-slide[data-num='6'] { background-color: purple; }
#banner .swiper-pagination-bullet-active { background-color: #fff; }


/* best_item */
#best_item .inner h1 { font-size: 2.8rem; font-weight: 700; margin-bottom: 3rem; }
#best_item .inner .container { display: flex; width: 100%; overflow: hidden; }
#best_item .inner .container > .wrap { display: flex; flex-shrink: 0; width: 100%; }
#best_item .inner .container > .wrap > .box { width: 19%; margin-right: 8%; }
#best_item .inner .container > .wrap > .box:last-of-type { margin-right: 0; }
#best_item .inner .container > .wrap > .box > .pic { width: 100%; height: 15rem; border-radius: 15px; background-color: lightsalmon; }
#best_item .inner .container > .wrap > .box > .info { width: 100%; padding-top: 8%; }
#best_item .inner .container > .wrap > .box > .info > h2.title { margin: 0; font-size: 2rem; font-weight: 400; }
#best_item .inner .container > .wrap > .box > .info > h3.address { margin: 1.5% 0 4%; font-size: 1.4rem; font-weight: 400; opacity: 0.6; }
#best_item .inner .container > .wrap > .box > .info > .bottom_info { width: 100%; display: flex; justify-content: space-between; align-items: center; }
#best_item .inner .container > .wrap > .box > .info > .bottom_info > p.price { font-size: 1.6rem; font-weight: 700; }
#best_item .inner .container > .wrap > .box > .info > .bottom_info > p.attention { font-size: 1.2rem; opacity: 0.5; }




/* 반응형 */ 
@media screen and (max-width: 1280px) {
    
}

@media screen and (max-width: 980px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 640px) {
    
}