/* font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/* css reset */
* { margin: 0; padding: 0; box-sizing: border-box; }
*::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
ol, ul, li { list-style: none; }
a { text-decoration: none; color: inherit; cursor: pointer; }
html, body { font-size: 10px; background-color: #fff; }
img { display: block; width: 100%; }
:root {
    --product--height: 30rem;
    --product--margin-bottom: 20rem;
    --product--spacing: 6rem; 
    --product--count: 3;

    --product--height_4: 25rem;
    --product--margin-bottom_4: 20rem;
    --product--spacing_4: 4rem; 
    --product--count_4: 4;

    --product--height_5: 20rem;
    --product--margin-bottom_5: 20rem;
    --product--spacing_5: 2rem; 
    --product--count_5: 5;
}
 

/* 공통 */
.content_area { width: 100%; margin-top: 23rem; }
.content { width: 100%; margin-bottom: 15rem; }
.inner { width: 60%; margin: 0 auto; }
h2.content_title { font-size: 3rem; font-weight: 700; }
p.content_sub_title { font-size: 1.6rem; margin-top: 2rem; }

/************* Content area */
/* Banner */
.banner_basic .swiper-container { position: relative; height: 55rem; overflow: hidden; }
.banner_basic .swiper-slide { width: 100%; height: 100%; font-size: 5rem; font-weight: 700; text-align: center; }
.banner_basic .swiper-slide[data-num="1"] { background-color: red; }
.banner_basic .swiper-slide[data-num='2'] { background-color: orange; }
.banner_basic .swiper-slide[data-num='3'] { background-color: yellow; }
.banner_basic .swiper-slide[data-num='4'] { background-color: green; }
.banner_basic .swiper-slide[data-num='5'] { background-color: blue; }
.banner_basic .swiper-slide[data-num='6'] { background-color: purple; }
.banner_basic .swiper-pagination-bullet-active { background-color: #fff; }

/* category */
#category table { width: 100%; background-color: #000; border: 1px solid #f9f0f8; color: #fff; text-align: center; }
#category table tr td { padding: 2rem 0; font-size: 1.4rem; cursor: pointer; }

/* products */
#products .product_pic { width: 100%; height: var(--product--height); background-color: lightskyblue; }
#products ul { width: auto; margin: 0 auto; }
#products ul li { display: inline-block; 
    width: 
    calc(((var(--product--count) * 100%) / (var(--product--count) * var(--product--count))) /* product 갯수에 따른 넓이 계산 */
    - (var(--product--spacing) * (var(--product--count) - 1) / var(--product--count)) ); /* spacing 총 값 계산 */
    margin: 0 var(--product--spacing) var(--product--margin-bottom) -1px; cursor: pointer; 
}
#products ul li:nth-child(3n) { margin-right: 0; }

#products h2.title { margin-top: 1rem; font-size: 2.2rem; }
#products h3.address { margin: 0.8rem 0 3rem; font-size: 1.6rem; font-weight: 400; opacity: 0.6; }
#products div.info { width: 100%; display: flex; justify-content: space-between; align-items: center; }
#products p.price { font-size: 2.1rem; }
#products p.attention { font-size: 1.6rem; opacity: 0.6; }

/* products_4 */
#products_4 .product_pic { width: 100%; height: var(--product--height_4); background-color: lightskyblue; }
#products_4 ul { width: auto; margin: 0 auto; }
#products_4 ul li { display: inline-block; 
    width: 
    calc(((var(--product--count_4) * 100%) / (var(--product--count_4) * var(--product--count_4))) /* product 갯수에 따른 넓이 계산 */
    - (var(--product--spacing_4) * (var(--product--count_4) - 1) / var(--product--count_4)) ); /* spacing 총 값 계산 */
    margin: 0 var(--product--spacing_4) var(--product--margin-bottom_4) -1px; cursor: pointer; 
}
#products_4 ul li:nth-child(4n) { margin-right: 0; }

#products_4 h2.title { margin-top: 1rem; font-size: 2rem; }
#products_4 h3.address { margin: 0.8rem 0 3rem; font-size: 1.4rem; font-weight: 400; opacity: 0.6; }
#products_4 div.info { width: 100%; display: flex; justify-content: space-between; align-items: center; }
#products_4 p.price { font-size: 1.8rem; }
#products_4 p.attention { font-size: 1.4rem; opacity: 0.6; }


/* products_5 */
#products_5 .product_pic { width: 100%; height: var(--product--height_5); background-color: lightskyblue; }
#products_5 ul { width: auto; margin: 0 auto; }
#products_5 ul li { display: inline-block; 
    width: 
    calc(((var(--product--count_5) * 100%) / (var(--product--count_5) * var(--product--count_5))) /* product 갯수에 따른 넓이 계산 */
    - (var(--product--spacing_5) * (var(--product--count_5) - 1) / var(--product--count_5)) ); /* spacing 총 값 계산 */
    margin: 0 var(--product--spacing_5) var(--product--margin-bottom_5) -1px; cursor: pointer; 
}
#products_5 ul li:nth-child(5n) { margin-right: 0; }

#products_5 h2.title { margin-top: 1rem; font-size: 1.8rem; }
#products_5 h3.address { margin: 0.8rem 0 3rem; font-size: 1.2rem; font-weight: 400; opacity: 0.6; }
#products_5 div.info { width: 100%; display: flex; justify-content: space-between; align-items: center; }
#products_5 p.price { font-size: 1.6rem; }
#products_5 p.attention { font-size: 1.2rem; opacity: 0.6; }
