@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); /* KR */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* EN */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600&display=swap'); /* LOGO */

/* css reset */
* { margin: 0; padding: 0; box-sizing: border-box; }
*::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
ul, ol, li { list-style: none; }
a { text-decoration: none; color: inherit; cursor: pointer; }
html, body { font-size: 10px; font-family: 'Roboto', sans-serif; background-color: #f0f0f0; text-align: center; }

/* 공통 */
.content { position: relative; width: 100%; margin-bottom: 25rem; color: #fff; }
.inner { width: 70%; height: 100%; margin: 0 15%; }
h2.sub_title { font: 700 3.6rem 'Roboto'; }
p.tag_txt { font: 400 1.8rem 'Noto Sans KR'; color: #000; transition: all 0.5s; }
img { width: 100%; display: block; }
table { border: 0; border-spacing: 3rem; margin: 0 auto; }
table td { position: relative; width: 25%; }
/* position */
.flex_center { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; }
.po_center { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }
.po_X_center { position: absolute; left: 50%; transform: translateX(-50%); }
.po_Y_center { position: absolute; top: 50%; transform: translateY(-50%); }


/************** header */
#header { position: fixed; left: 0; top: 0; z-index: 15; width: 100%; height: 12rem; color: #fff; } 
#header .nav .logo { margin: 0 4rem; font: 600 4.4rem 'EB Garamond'; font-weight: 400; cursor: pointer; }
#header .nav li { position: relative; margin: 0 4rem; font-size: 2.4rem; opacity: 0.3; cursor: pointer; transition: all 0.3s; }
#header .nav li::before { 
    content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%) scale(0.5) rotate(360deg); 
    width: 90px; height: 90px; border: 3px dotted #fff; border-radius: 50%; opacity: 0; transition: all 0.3s;
}
/* header Action Class */
#header.trans_h { height: 6rem; transition: height 0.4s, background-color 0.4s, color 0s; color: #000; }
#header.trans_h:hover { height: 12rem; background-color: rgba(0, 0, 0, 0.5); color: #fff; }
#header .nav li.on, #header .nav li:hover { opacity: 1; }
#header .nav li:hover::before { opacity: 1; transform: translate(-50%,-50%) scale(1.2) rotate(0deg); }


/************** Home */
#Home { height: 100vh; background: no-repeat url('../00_image/home_img_01.jpg') center center; background-size: cover; }
#Home::after { content: ''; position: absolute; left: 0; top: 0; z-index: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }
#Home .box { position: absolute; left: 0; top: 50%; transform: translateY(-50%); z-index: 5; width: 100%; text-align: center; }
#Home .box h1 { font: 700 6rem 'Noto Sans KR'; }

/************** Skill */
#Skill { background-color: #97d0ed; overflow: hidden; }
#Skill::before, #Skill::after { 
    content: ''; position: absolute; top: 50%; transform-origin: center; 
    width: 200px; height: 200px; background-color: rgba(255, 255, 255, 0.5); transition: all 0.4s;
}
#Skill::before { left: 0; transform: translate(-50%,-50%) rotate(45deg); }
#Skill::after { right: 0; transform: translate(50%,-50%) rotate(-45deg); }
/* skill table */
#Skill table { width: 60%; height: 100%; }
#Skill table tr td { font-size: 2.2rem; }
#Skill table tr:nth-child(1) td { border-radius: 50%; color: #000; }
#Skill table tr:nth-child(1) td p.percent { 
    position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); 
    display: flex; justify-content: center; align-items: center; width: 80%; height: 80%; border-radius: inherit; background-color: #97d0ed; 
}


/************** portpolio */
#Portpolio table tr td { background-repeat: no-repeat; background-size: cover; background-position: top center; background-color: rgba(0, 0, 0, 0.5); cursor: pointer; }
#Portpolio table tr td .info { background-color: rgba(0, 0, 0, 0.5); opacity: 0; transition: all 0.3s; }
#Portpolio table tr td.ready_page .info { opacity: 1; }
#Portpolio table tr td.ready_page .info h2 { font-family: 'Noto Sans KR', sans-serif; }
#Portpolio table tr td p { position: absolute; bottom: 0; transform: translateY(0); width: 100%; opacity: 0; transition-timing-function: ease-out; }
/* portpolio Action Class */
#Portpolio table tr td:hover .info { opacity: 1; }
#Portpolio table tr td.ready_page:hover .info { opacity: 0.5; }
#Portpolio table tr td:hover p { transform: translateY(100%); opacity: 1; }
/* portpolio bg */
#Portpolio table tr:nth-child(1) > td:nth-child(1) { background-image: url('../00_image/portpolio_img_01.jpg'); }
#Portpolio table tr:nth-child(1) > td:nth-child(2) { background-image: url('../00_image/portpolio_img_02.jpg'); }
#Portpolio table tr:nth-child(1) > td:nth-child(3) { background-image: url('../00_image/portpolio_img_03.jpg'); }


/************** Call */
#Call { position: fixed; left: 0; bottom: 0; z-index: 10; height: 0; margin: 0; background-color: rgba(0, 0, 0, 0.8); }
#Call .close_btn { top: 0; z-index: 15; font-size: 4rem; cursor: pointer; transition: all 0.6s; }
#Call table { border-spacing: 5rem; height: 120%; }
#Call table td a { font-size: 5rem; transition: all 0.3s; }
/* call Hover */
#Call .close_btn:hover { transform: translate(-50%,20%); }
#Call table td:nth-child(1) a:hover { color: #000; }
#Call table td:nth-child(2) a:hover { color: #f9e000; }
#Call table td:nth-child(3) a:hover { color: #304ffe; }
#Call table td:nth-child(4) a:hover { color: rgba(255, 255, 255, 0.2); }


/* 반응형 */
@media screen and (max-width: 1200px) {
    html, body { font-size: 9px; }

    /* 공통 */
    .content { margin-bottom: 20rem; }
    .inner { width: 80%; margin: 0 10%; }
    h2.sub_title { font-size: 3.2rem; }
    p.tag_txt { font-size: 1.6rem  }
    table { border-spacing: 2rem; }

    /************** header */
    #header { height: 10rem; } 
    #header .nav .logo { margin: 0 4rem; font-size: 4.2rem; }
    #header .nav li { margin: 0 4rem; font-size: 2.4rem; }
    #header .nav li::before { width: 75px; height: 75px; border: 3px dotted #fff; }
    #header.trans_h { height: 6rem; }
    #header.trans_h:hover { height: 10rem; }

    /************** Home */
    #Home .box h1 { font-size: 6rem; }

    /************** Skill */
    #Skill::before, #Skill::after { width: 200px; height: 200px; }
    #Skill table { width: 70%; }
    #Skill table tr td { font-size: 2.2rem; }

    /************** portpolio */
    #Portpolio table { width: 90%; margin: 0 5%; }
    #Portpolio table tr td .info { background-color: rgba(0, 0, 0, 0); color: #000; opacity: 1; }
    #Portpolio table tr td p { transform: translateY(100%); opacity: 1; }
    #Portpolio table tr td:hover .info { background-color: rgba(0, 0, 0, 0.5); color: #fff; }

    /************** Call */
    #Call .close_btn { font-size: 4rem; }
    #Call table { border-spacing: 10rem 0; height: 120%; }
    #Call table td a { font-size: 5rem; }

}

@media screen and (max-width: 980px) {
    html, body { font-size: 8px; }

    /* 공통 */
    .inner { width: 80%; margin: 0 10%; }
    h2.sub_title { font-size: 3.2rem; }
    p.tag_txt { font-size: 1.6rem  }
    table { border-spacing: 2rem; }

    /************** header */
    #header .nav li::before { width: 70px; height: 70px; border: 3px dotted #fff; }

    /************** Skill */
    #Skill::before, #Skill::after { width: 160px; height: 160px; }
    #Skill table { width: 80%; }
    #Skill table tr td { font-size: 2.4rem; }

    /************** portpolio */
    #Portpolio table { width: 100%; margin: 0; }
}

@media screen and (max-width: 768px) {
    html, body { font-size: 7px; }

    /* 공통 */
    .content { margin-bottom: 25rem; }

    /************** header */
    #header .nav .logo { margin: 0 3rem; font-size: 5rem; }
    #header .nav li { margin: 0 3rem; font-size: 3rem; }
    #header .nav li::before { display: none; }

    /************** Skill */
    #Skill::before, #Skill::after { width: 100px; height: 100px; }
    #Skill table { width: 80%; }
    #Skill table tr td { font-size: 2.2rem; }

    /************** portpolio */
    #Portpolio table { border-spacing: 4rem; }
    #Portpolio table tbody { display: block; width: 100%; }
    #Portpolio table tbody tr { width: 100%; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; }
    #Portpolio table tbody tr td { width: calc(50% - 4rem); }
    #Portpolio table tbody tr td:nth-child(1), #Portpolio table tbody tr td:nth-child(2) { margin-bottom: 4rem; }
}

@media screen and (max-width: 640px) {
    html, body { font-size: 6px; }


    /* 공통 */
    .content { margin-bottom: 25rem; }
    .inner { width: 90%; margin: 0 5%; }
    h2.sub_title { font-size: 4rem; }
    p.tag_txt { font-size: 2rem  }

    /************** header */
    #header .nav .logo { margin: 0 3rem; font-size: 4rem; }
    #header .nav li { margin: 0 3rem; font-size: 3.2rem; }

    /************** Home */
    #Home .box h1 { font-size: 7rem; }

    /************** Skill */
    #Skill table { width: 80%; }
    #Skill table tr td { font-size: 2.4rem; }

    /************** portpolio */
    #Portpolio table { border-spacing: 4rem; }
    #Portpolio table tbody tr td { width: calc(50% - 2rem); }
    #Portpolio table tbody tr td:nth-child(1), #Portpolio table tbody tr td:nth-child(2) { margin-bottom: 8rem; }

    /************** Call */
    #Call table td a { font-size: 6.4rem; }
}

@media screen and (max-width: 480px) {
    html, body { font-size: 5.5px; }

    /* 공통 */
    .inner { width: 100%; margin: 0; }
    h2.sub_title { font-size: 5rem; }
    p.tag_txt { font-size: 3rem; }

    /************** header */
    #header .nav .logo { position: absolute; top: 0; margin: 0; font-size: 5rem; }
    #header .nav li { margin: 15rem 4rem 0; font-size: 3.2rem; }
    #header.trans_h { height: 10rem; }

    /************** Skill */
    #Skill::before, #Skill::after { display: none; }
    #Skill table { width: 100%; }
    #Skill table tr td { font-size: 3rem; }

    /************** portpolio */
    #Portpolio table { border-spacing: 2rem; }
    #Portpolio table tbody { display: block; width: 100%; }
    #Portpolio table tbody tr { width: 100%; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; }
    #Portpolio table tbody tr td { width: 100%; margin-bottom: 20rem; }
    #Portpolio table tbody tr td p { transform: translateY(200%); }
    #Portpolio table tbody tr td:nth-child(1), #Portpolio table tbody tr td:nth-child(2) { margin-bottom: 20rem; }
}